<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<style>
    .font {
        font-family: "Segoe UI", "Apple SD Gothic Neo", "Lucida Grande", "Lucida Sans Unicode", "sans-serif";
    }
</style>
<div bgcolor="#FFFFFF" marginwidth="0" marginheight="0">
    <table id="m_2515312712125314003Table_01" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
          									<td><a href="javascript:;" target="_blank" title="ITMAP">
													<img
														src="https://elasticbeanstalk-us-east-1-847794743507.s3.amazonaws.com/VZ3ePnVTUL"
														alt="ITMAP"
													/>
												</a></td>
											
            </tr>
			<tr>
                <td style="background: rgb(255, 255, 255); text-align: left; padding: 60px 20px 0; font-size: 16px; font-weight: 400;" class="font">
                    Dear Admin,
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); text-align: left; padding: 20px 20px 0; font-size: 16px; font-weight: 400;" class="font">
                    {{ details }}
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); text-align: left; padding: 20px; font-size: 16px;" class="font">
                    <table
        style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
        
        <tbody>
            <tr>
                <th
                    style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                    Complaint #</th>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
                    {{code}} </td>              
            </tr>
            <tr>
                <th
                    style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                    Visitor Name</th>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
                    {{visitorName}} </td>              
            </tr>
            <tr>
                <th
                    style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                    Consultant Name</th>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
                    {{consultantName}} </td>              
            </tr>
            <tr>
                <th
                    style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                    Subject</th>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
                    {{subject}} </td>              
            </tr>
            <tr>
                <th
                    style="font-size: 12px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">
                    Message</th>
                <td style="font-size: 12px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">
                    {{message}} </td>              
            </tr>
            
        </tbody>
    </table>
                </td>
            </tr>
			
			
            <tr>
                <td style="background-color: #ffffff; padding: 25px 0 25px 30px;">
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="width: 80%;" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td><a href="www.itmap.com" class="font" style="color: #6500a3; text-decoration: none;" target="_blank">www.itmap.com</a></td>
                                            </tr>
                                            <tr>
                                                <td><a href="mailto:support@itmap.com" title="support@itmap.com" class="font" style="font-size: 14px; color: #6500a3; text-decoration: none;" target="_blank">support@itmap.com</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 30%;text-align:center">
                                                        <a href="https://www.linkedin.com/company/itmap-research-advisory-services/" title="LinkedIn" target="_blank" style="margin-right:10px">
            <img style="width:30px" src='https://elasticbeanstalk-us-east-1-847794743507.s3.amazonaws.com/5B0EsGMol1' alt="LinkedIn" /></a>
          <a href="https://twitter.com/ITMAP_research" title="Twitter" target="_blank">
            <img style="width:27px" src='https://elasticbeanstalk-us-east-1-847794743507.s3.amazonaws.com/KXST8bdfJ2'/></a>
                                                    </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
