<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ title }}</title>
</head>
<style>
    .font {
        font-family: "Segoe UI", "Apple SD Gothic Neo", "Lucida Grande", "Lucida Sans Unicode", "sans-serif";
    }
</style>
<div bgcolor="#FFFFFF" marginwidth="0" marginheight="0">
    <table id="m_2515312712125314003Table_01" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td style="text-align: center;">
                    <a href="javascript:;" target="_blank" title="ITMAP">
                        <img
                            src="https://tech24-uat.s3.amazonaws.com/nCbLhUdOrd"
                            alt="tech24"
                        />
                    </a>
                </td>					
            </tr>
			<tr>
                <td style="background: rgb(255, 255, 255); text-align: left; padding: 60px 20px 0; font-size: 16px; font-weight: 400; text-transform: capitalize;" class="font">
                    Dear {{ name }},
                </td>
            </tr>
            <tr>
                <td style="background: rgb(255, 255, 255); text-align: left; padding: 30px 20px 0; font-size: 16px; font-weight: 400;max-width:600px;wra;word-wrap: break-word;" class="font">
                    {{ details }} 
                </td>
            </tr>
            <tr>
                <td style="background-color: #ffffff; padding: 25px 0 25px 25px;">
                    <table style="width: 100%;" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table style="width: 80%;" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td><a href="mailto:support@tech24.ai" title="support@tech24.ai" class="font" style="font-size: 14px; color: #6500a3; text-decoration: none;" target="_blank">support@tech24.ai</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="width: 30%;text-align:center">
                                    <a href="https://www.linkedin.com/company/tech24.ai" title="LinkedIn" target="_blank" style="margin-right:10px">
                                        <img style="width:30px" src='https://tech24-uat.s3.amazonaws.com/msSejREeBd' alt="LinkedIn" />
                                    </a>
                                    <a href="https://twitter.com/tech24.ai" title="Twitter" target="_blank">
                                        <img style="width:27px" src='https://tech24-uat.s3.amazonaws.com/bfVPMfueDa'/>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
