<div>
  <p style="margin-bottom: 10px">Thank you for ##TYPE##</p>
</div>
<div
  marginwidth="10"
  marginheight="10"
  style="margin-left: auto; margin-right: auto; margin-top: 10px; width: 70%; page-break-after:always;"
>
<p style="margin-top: 20px;margin-bottom: 15px;font-weight: 700;">##DOCUMENT## ##PLAN##</p>
  <table>
    <tbody>
      <tr>
        <td>Invoice No</td>
        <td>##INVOICENO##</td>
      </tr>
      <tr>
        <td>Invoice Date</td>
        <td>##INVOICEDATE##</td>
      </tr>
      
    </tbody>
  </table>
  <p style="text-align: right; margin-top: 10px">Total Amount in USD: <span style="font-weight: 700;">$##AMOUNT##</span></p>
</div>
