<table>
    <tr>
        <td>
            Founded 
        </td>
        <td>
            ##FOUNDED##
        </td>
    </tr>
    <tr>
        <td>
            Company Type 
        </td>
        <td>
            ##COMPANYTYPE##
        </td>
    </tr>
    <tr>
        <td>
            Category 
        </td>
        <td>
            ##VENDOR_CATEGORY##
        </td>
    </tr>
    <tr>
        <td>
            Head Quarter 
        </td>
        <td>
            ##HEADQUARTER##
        </td>
    </tr>
    <tr >
        <td>
            Industry 
        </td>
        <td >
            ##INDUSTRY##
        </td>
    </tr>
    <tr>
        <td>
            SPECALITY 
        </td>
        <td>
            ##SPECALITY##
        </td>
    </tr>
</table>
<style>
    table {border-collapse:collapse; table-layout:fixed;}
   table td {border:solid 1px #fab; word-wrap:break-word;}
</style>