<div>
  <p style="margin-bottom: 10px">Thank you for buying subscription</p>
</div>
<div marginwidth="10" marginheight="10"
  style="margin-left: 3%; margin-right: 3%; margin-bottom: 25%; width: 100%; position: relative;">
  <table style="table-layout:fixed; width: 100%;">
    <tbody>
      <tr>
        <td>Invoice No</td>
        <td>##INVOICENO##</td>
      </tr>
      <tr>
        <td>Segment</td>
        <td>##SEGMENT##</td>
      </tr>


    </tbody>
  </table>
  <p style="text-align: right; margin-top: 10px">Total Amount: $##AMOUNT##</p>

  <div marginwidth="10" marginheight="10"
    style="margin-left: 3%; margin-right: 3%; margin-top: 5%; width: 90%;">
    <h4>Subscribed Market</h4>
    <p align="justify" style="font-size:16px">##MARKET##</p>
  </div>
  <div marginwidth="10" marginheight="10"
    style="margin-left: 3%; margin-right: 3%; width: 90%; margin-top: 5%;">
    <h4>Subscribed Countries</h4>
    <p align="justify" style="font-size:16px">##COUNTRY##</p>
  </div>
  <div marginwidth="10" marginheight="10"
    style="margin-left: 3%; margin-right: 3%; width: 90%; margin-top:5%;">
    <h4>Subscribed Regions</h4>
    <p align="justify" style="font-size:16px">##REGION##</p>
  </div>

</div>
